body {
  text-align: center;
  background-color: rgba(196, 156, 121);
}

nav {
  margin-bottom: 20px;
  background-color: rgba(40, 24, 34);
}

.container {
  background-color: rgba(150, 111, 130);
  margin-top:20px;
  border-radius: 15px;
  max-width: 570px;
  padding: 15px;
}

a {
  background-color: rgba(149, 112, 130);
}
