body {
  text-align: center;
  background-color: rgba(196, 156, 121);
  font-family: "IM Fell English SC", serif;
  font-weight: 400;
  font-style: normal;
}

nav {
  margin-bottom: 20px;
  background-color: rgba(40, 24, 34);
}

.navbar a {
  color: rgba(149, 112, 130);
}

.container {
  background-color: rgba(150, 111, 130);
  margin-top:20px;
  border-radius: 15px;
  max-width: 570px;
  padding: 15px;
}

.button {
  background-color: #48182e;
  border: none;   
  color: white;
  padding: 5px 90px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 6px;
}

h5 {
  background-color: #dbc7c8;
}
